@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dropdownMenuButton {
    animation-name: rotate360;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function:linear
}